In [72]:
import pandas as pd
from sklearn.model_selection import train_test_split
df = pd.read_csv('data/name_romanization.csv')

In [74]:
# make dict {thai: [roman1, roman2],...}
names = {}
for g, p in zip(df.token, df.romanize1):
    names[g] = names.get(g, []) + [p]
len(names)

3805

In [75]:
# exclude ambiguous names
names = [(k,v[0]) for k,v in names.items() if len(v)==1]
len(names)

3560

In [76]:
df = pd.DataFrame(names, columns=['thai', 'romanize'])
df

            thai     romanize
0        กุลสตรี  kunlasattri
1         กุสุมา       kusuma
2      กุสุมาลย์      kusuman
3         กุหลาบ        kulap
4     ก่อเกียรติ       kokiat
...          ...          ...
3555        ไลลา        Laila
3556      ไวพจน์      Waiphot
3557       ไอริณ        Airin
3558       ไอลดา       Ailada
3559     ไอศูรย์        Aisun

[3560 rows x 2 columns]

In [77]:
train, test = train_test_split(df, test_size=0.1968)

In [78]:
train

           thai    romanize
3389    เปรมิกา     Premika
3339  เชาวฤทธิ์   Chaowarit
3263   อุบลวรรณ     Ubonwan
2896  สุภาวัลย์    suphawan
3427  เยาวรักษ์    Yaowarak
...         ...         ...
82      จตุพงศ์  chatuphong
2405  วิไลรักษ์    wilairak
1287   ประพันธ์     praphan
606      ดาริกา      darika
1449    ผกาภรณ์   Phakaphon

[2859 rows x 2 columns]

In [79]:
test

           thai     romanize
1974   ยุรนันท์      Yuranan
1726  ฟองจันทร์     Fongchan
2267       วศิน        wasin
1357   ปรเมศวร์      poramet
1672    พิมลมาศ    Phimonmat
...         ...          ...
2440     วุฒิกร    wutthikon
882    ธิติสุดา    thitisuda
3401  เพียงขวัญ  Phiangkhwan
2567    ศุภมิตร    supphamit
162     จิตติกร    chittikon

[701 rows x 2 columns]

In [80]:
train.thai.to_csv('train_x.txt', index=False, header=False)
train.romanize.to_csv('train_y.txt', index=False, header=False)
test.thai.to_csv('test_x.txt', index=False, header=False)
test.romanize.to_csv('test_y.txt', index=False, header=False)